{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block main %}
    <form action="#" method="post">
        <input type="text" name="author">
        <input type="text" name="email">
        <input type="text" name="object">
        <textarea name="content"></textarea>
        <input type="submit" value="ENVOYER">
    </form>
{% endblock %}

