{% extends "base.html.twig" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <p>Hello World !!!</p>
    <p>Page crée par {{ nomDeMaVariable | upper }}</p>
    <p>Ma valeur numerique {{ variableNumerique }}</p>
    <p>Ma valeur de type date {{ variableDate | date('d/m/Y') }}</p>
    <p>{{ variableNonEchappee | raw }}</p>
{% endblock %}





