header {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.brand-logo { height: 100%; display: block;}
.brand-logo>img{
    height: 100%;
    width: auto;
}