<nav>
    <div class="nav-wrapper grey darken-3">
        <a href="#!" class="brand-logo">
            <img src="{{ asset('assets/img/logo.png') }}" alt="logo">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('default_home') }}">Home</a></li>
            <li><a href="{{ path('default_contact') }}">Contact</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="{{ path('default_home') }}">Home</a></li>
    <li><a href="{{ path('default_contact') }}">Contact</a></li>
</ul>